{% load static %}
<div class="col-lg-4">
    <div class="sidebars-area">
        <div class="single-sidebar-widget most-popular-widget">
            <h6 class="title" style="background-color: #0B3182;">Destacados</h6>
            {% for post in featured %}
            <div class="single-list flex-row d-flex">
                <div class="thumb">
                    <img src="{{post.image_ref.url}}" width="100px" height="100" alt="">
                </div>
                <div class="details">
                    <a href="{% url 'blog:blog' post.id post.name|slugify %}">
                        <h6>{{post.name}}</h6>
                    </a>
                    <ul class="meta">
                        <li><a><span class="lnr lnr-calendar-full"></span>{{post.created_date.date}}</a></li>
                    </ul>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>