{% extends 'baseregistration.html' %}
{% load static %}
{% block title %}Editar una nota{% endblock %}
{% block ExtraScript %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "css/custom_ckeditor.js" %}"></script>
{% endblock %}
{% block content %}
<main role="main">
  <div class="container p-3" style="background-color: oldlace;">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <h2> Editar {{object.name}}</h2>
        <div>
          {% if 'ok' in request.GET %}
          <p style="color: green;">
            Pagina editada correctamente
            <a href="{% url 'blog:blog' object.id object.name|slugify %}">Haz click aqui para ir al post editado</a>
          </p>
          {% endif %}
          <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <table>
              <ul style="padding: 15px;">{{ form.name }}</ul>
              <ul style="padding: 15px;">{{ form.description }}</ul>
            </table>
            <p>{{ form.category }}</p>
            <br>
            <p style="padding: 15px;">{{ form.image_ref }} </p>
            <p>{{form.tags}} Destacados {{form.featured}}</p>
            <div class="text-center">
              <input type="submit" class="btn btn-primary btn-block" value="Actualizar Nota" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}