{% extends 'index.html' %}
{% load static %}
{% block ExtraScript %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "css/custom_ckeditor.js" %}"></script>
{% endblock %}
{% block title %}Crear un post{% endblock %}
{% block content %}

<main role="main">
  <div class="container">
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
        <div>
          <form action="" method="post" enctype='multipart/form-data'>{% csrf_token %}
            <table>
              <ul>{{ form.name }}</ul>
              <ul>{{ form.description }}</ul>
              <ul>{{ form.category }}</ul>
              <ul>{{ form.image_ref }}</ul>
            </table>
            <div class="text-center">
              <input type="submit" class="btn btn-primary btn-block" value="Crear Post" enctype='multipart/form-data' />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}