{% extends 'index.html' %}
{% load static %}
{% block title %}Categorias{% endblock %}

{% block content %}
<div class="blog-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">

                    <!-- Single Featured Post -->
                    {% for object in object_list %}
                    <div class="single-blog-post featured-post mb-30">
                        <div class="post-thumb">
                            {% if object.image_ref %}
                            <a href="{% url 'blog:blog' object.id object.name|slugify %}"><img src="{{object.image_ref.url}}" width="500px" alt=""></a>
                            {% else %}
                            <a href="{% url 'blog:blog' object.id object.name|slugify %}"><img src="{% static './assets/img/image_placeholder.jpg'%}" width="500px" alt=""></a>
                            {% endif %}
                        </div>
                        <div class="post-data">
                            {% for category in object.category.all %}
                            <a href="#" class="post-catagory">{{ category.name }}</a>
                            {% endfor %}
                            <a href="{% url 'blog:blog' object.id object.name|slugify %}" class="post-title">
                                <h6>{{ object.name }}</h6>
                            </a>
                            <div class="post-meta">
                                <p class="post-author">By {{object.user.username}}</p>
                                <p class="post-excerp"> {{object.description|striptags|safe|truncatechars:"300"}} </p>
                                <!-- Post Like & Post Comment -->                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}                    
                </div>                
            </div>
            {% include "includes/lateral.html" %}
        </div>
    </div>
    
    {% endblock %}