{% extends 'index.html' %}
{% load static %}

{% block title %}Mis libros{% endblock %}

{% block content %}

<div class="site-main-container">
    <div class="top-post-area pt-10">
        <div class="container no-padding">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-nav-area">
                        <h1 class="text-white">Mis libros</h1>
                        <p class="text-white link-nav"><a href="{% url 'index' %}">Inicio </a> <span
                                class="lnr lnr-arrow-right"></span><a href="{% url 'mybooks' %}">Mis libros</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <img class="img-fluid" src="{% static 'img/books-banner.jpeg'%}" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}