{% extends 'index.html' %}
{% load static %}
{% block title %}Búsqueda{% endblock %}
{% block content %}
<!-- Start top-post Area -->
<section class="top-post-area pt-10">
	<div class="container no-padding">
		<div class="row">
			<div class="col-lg-12">
				<div class="hero-nav-area">
					<h1 class="text-white">Resultado</h1>
					<p class="text-white link-nav"><a href="{% url 'index' %}">Inicio </a>
						<span class="lnr lnr-arrow-right"></span><a href="#">Resultado</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End top-post Area -->
<!-- Start latest-post Area -->
<section class="latest-post-area pb-120">
	<div class="container no-padding">
		<div class="row">
			<div class="col-lg-8 post-list">
				<!-- Start latest-post Area -->
				<div class="latest-post-wrap">
					<h4 class="cat-title" style="background-color: #0B3182;"></h4>
					<h2> Error 404 </h2>
					<h2> Página no encontrada </h2>
				</div>
				<!-- End latest-post Area -->
			</div>
			{% include 'includes/lateral.html'%}
		</div>
	</div>
</section>
<!-- End latest-post Area -->
{% endblock %}